<html>
  <head>
    <title>Sysadmin</title>
  </head>
  <body>
    <h1>Sysadmin</h1>
    <p>Обир на банка. Един от маскираните обирджии говори по телефона:</p>
    <p>- „Шефе, проникнахме в банката, взехме заложници, срязохме кабЕЛИте за
        тока, започнахме да разбиваме сейфа... обаче през вентилацията се появи
        брадясал мъж със захабени дрехи, обезвреди ни, взе ни резачките и
        оръжията...”
        - „И какво, освободи заложниците?”
        - „А, не, почна да лепи кабелите и да мърмори нещо за „uptime”.
        - “Ясно. Имаме си работа със сисадмин...”</p>
    <p>
        Работата на сисадмина не е изобщо толкова лесна. Обирджиите са нарязали
        кабелите на N парчета с дължини A1, A2, ..., AN. За да възстанови връзката на всички
        компютри, на него са му нужни K парчета кабел с еднаква дължина. Затова той
        иска да нареже намиращите му се под ръка N парчета на (евентуално) по-малки
        такива, така че да има К парчета кабел с еднаква дължина. Разбира се, колкото
        по-дълги са тези К парчета, толкова по-добре.
    </p>
    <h2>Вход</h2>
    <p>На първия ред на стандартния вход ще стоят целите числа N и K, а на втория ще
        бъдат зададени N цели числа A1, A2, ..., AN, разделени с интервали – дължините на
        оставените от обирджиите парчета кабел.</p>
    <h2>Изход</h2>
    <p>На единствен ред на стандартния изход изведете едно цяло число – максималната
        целочислена дължина, с която сисадминът може да изреже К кабела с еднаква
        дължина. Ако това е невъзможно дори при дължина 1, изведете -1.</p>
    <h2>Limitations</h2>
    <table>
      <tr>
        <td>TL</td>
        <td>0.5S</td>
      </tr>
      <tr>
        <td>ML</td>
        <td>32MB</td>
      </tr>
      <tr>
        <td>1 ≤ N, K ≤ 10,000</td>
        <td>1 ≤ Ai ≤ 100,000,000</td>
      </tr>
    </table>
    <table>
        <tr>
          <td style="text-align:left"><strong>ПРИМЕРЕН ВХОД</strong></td>
          <td><strong>ПРИМЕРЕН ИЗХОД</strong></td>
        </tr>
        <tr>
          <td style="padding-right: 20px">
            3 4<br>
            5 3 5
          </td>
          <td>2</td>
        </tr>
        <tr>
          <td style="padding-right: 20px">
            5 42<br>
            1 2 3 4 5
          </td>
          <td>-1</td>
        </tr>
        <tr>
          <td style="padding-right: 20px">
            11 42<br>
            33 17 42 13 7 5 23 20 1 18 6
          </td>
          <td>4</td>
        </tr>
      </table>
  </body>
</html>