<html>
  <head>
    <title>Пак ли редица...</title>
  </head>
  <body>
    <h1>Пак ли редица...</h1>
    <p>Дадени са ви числата A, B, P и Q. От вас се иска да намерите най-
        малкото число n, за което съществува редица от числа x1, x2, ..., xn, такива че
        x1=A, xn=B и за всяко xi+1 е изпълнено, че xi+1=(xi + P)%1000007 или
        xi+1=y%1000007, където y е числото, което се образува като се запишат
        цифрите на (xi*Q) в обратен ред (ако след обръщането на числото се получат
        водещи нули, те трябва да се премахнат).</p>
    <h2>Вход</h2>
    <p>На първият ред на стандартният вход ще бъдат зададени 4 цели числа в следния ред: A, B, P и Q</p>
    <h2>Изход</h2>
    <p>На стандартният изход изведете едно число - отговорът на задачата.</p>
    <h2>Ограничения</h2>
    <table>
      <tr>
        <td>TL</td>
        <td>0.5S</td>
      </tr>
      <tr>
        <td>ML</td>
        <td>32MB</td>
      </tr>
      <tr>
        <td>0 ≤ A, B ≤ 1000006; 1 ≤ P, Q ≤ 1000</td>
      </tr>
    </table>
    <table>
      <tr>
        <td style="text-align:left;padding-right: 20px"><strong>ПРИМЕРЕН ВХОД</strong></td>
        <td><strong>ПРИМЕРЕН ИЗХОД</strong></td>
      </tr>
      <tr>
        <td style="padding-right: 20px">7 21 1 1</td>
        <td>7</td>
      </tr>
      <tr>
        <td style="padding-right: 20px">1000006 0 1 1</td>
        <td>2</td>
      </tr>
      <tr>
        <td style="padding-right: 20px">1000002 8 1 1</td>
        <td>8</td>
      </tr>
    </table>
  </body>
</html>