<html>
  <head>
    <title>Palindrome</title>
  </head>
  <body>
    <h1>Palindrome</h1>
    <p>Палиндром е дума, която се чете по един и същ начин от ляво на дясно, както
      и от дясно на ляво.</p>
    <p>Дадена ви е дума S. Върнете палиндром, образуван от всички букви на S. Ако
      е възможно да се образува повече от един палиндром, намерете
      лексикографски най-малкия. В случай, че не съществува палиндром с буквите
      на S, изведете на екрана “IMPOSSIBLE”(без кавичките, разбира се).</p>
    <h2>Вход</h2>
    <p>На първия и единствен ред стои думата S, която се състои от малки латински букви.</p>
    <h2>Изход</h2>
    <p>На първия и единствен ред изведете намерения палиндром или “IMPOSSIBLE”, ако такъв не съществува.</p>
    <h2>Ограничения</h2>
    <table>
      <tr>
        <td>TL</td>
        <td>0.5S</td>
      </tr>
      <tr>
        <td>ML</td>
        <td>32MB</td>
      </tr>
      <tr>
        <td>1 ≤ |S| ≤ 106</td>
      </tr>
    </table>
    <table>
      <tr>
        <td style="text-align:left;padding-right: 20px"><strong>ПРИМЕРЕН ВХОД</strong></td>
        <td><strong>ПРИМЕРЕН ИЗХОД</strong></td>
      </tr>
      <tr>
        <td style="padding-right: 20px">abaaba</td>
        <td>aabbaa</td>
      </tr>
      <tr>
        <td style="padding-right: 20px">ab</td>
        <td>IMPOSSIBLE</td>
      </tr>
    </table>
  </body>
</html>