<html>
  <head>
    <title>Problem: Palindrome</title>
  </head>
  <body>
    <h1>Problem: Palindrome</h1>
    <p>A palindrome is a word that is read the same way from left to right and vice versa.</p>
    <p>Given a word S, return a palindrome formed from all the letters of S. If more than one palindrome can be formed from the letters of S, find the lexicographically smallest. If no palindrome can be formed from the letters of S, output "IMPOSSIBLE" (without quotes, of course).</p>
    <h2>Input</h2>
    <p>On the first and only line stands the word S, consisting of lowercase Latin letters.</p>
    <h2>Output</h2>
    <p>On the first and only line output the found palindrome or "IMPOSSIBLE" if such does not exist.</p>
    <h2>Limitations</h2>
    <table>
      <tr>
        <td>TL</td>
        <td>0.5S</td>
      </tr>
      <tr>
        <td>ML</td>
        <td>32MB</td>
      </tr>
      <tr>
        <td>1 ≤ |S| ≤ 106</td>
      </tr>
    </table>
    <h2>Examples</h2>
    <table>
      <tr>
        <td><strong>Example Input</strong></td>
        <td><strong>Example Output</strong></td>
      </tr>
      <tr>
        <td>abaaba</td>
        <td>aabbaa</td>
      </tr>
      <tr>
        <td>ab</td>
        <td>IMPOSSIBLE</td>
      </tr>
    </table>
  </body>
</html>